frontend/

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
.vscode/
*.sublime-workspace
*.sublime-project

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.gitignore

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

node_modules/
package-lock.json
yarn.lock

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

/data/
*.db
*.trace.db
*.lock.db

application-*.properties
!application.properties
!application-test.properties

.env
.env.*